<html>
<body style="font-family: Arial, sans-serif; color: #333;">
<p>Hi {{username}},</p>
<br/>
<p>We noticed a login to your account from a new device.</p>
<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="text-align: left;">Field</th>
      <th style="text-align: left;">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Login From</td><td>{{loginFrom}}</td></tr>
    <tr><td>Login With</td><td>{{loginWith}}</td></tr>
    <tr><td>Login At</td><td>{{loginAt}}</td></tr>
    <tr><td>IP Address</td><td>{{ipAddress}}</td></tr>
    <tr><td>Browser</td><td>{{userAgent.browser.name}} {{userAgent.browser.version}}</td></tr>
    <tr><td>Device</td><td>{{userAgent.device.vendor}} {{userAgent.device.model}} ({{userAgent.device.type}})</td></tr>
    <tr><td>OS</td><td>{{userAgent.os.name}} {{userAgent.os.version}}</td></tr>
    <tr><td>Support Email</td><td>{{supportEmail}}</td></tr>
    <tr><td>Website</td><td>{{homeUrl}}</td></tr>
  </tbody>
</table>
<br/>
<p>By: {{homeName}}.</p>
</body>
</html>
