<html>
<body style="font-family: Arial, sans-serif; color: #333; background-color: #ffffff;">
<p>Hi {{username}},</p>
<br/>
<p>You have been invited to join <strong>{{contextName}}</strong>.</p>
<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="text-align: left;">Field</th>
      <th style="text-align: left;">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Invite Link</td><td>{{link}}</td></tr>
    <tr><td>Invite Type</td><td>{{inviteType}}</td></tr>
<tr><td>Context</td><td>{{contextName}}</td></tr>
    <tr><td>Expires At</td><td>{{expiredAt}} ({{expiredInMinutes}} minutes)</td></tr>
    <tr><td>Reference</td><td>{{reference}}</td></tr>
    <tr><td>Support Email</td><td>{{supportEmail}}</td></tr>
    <tr><td>Website</td><td>{{homeUrl}}</td></tr>
  </tbody>
</table>
<br/>
<p>By: {{homeName}}.</p>
</body>
</html>
